<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header class="hero">
            
            <h1>The Tech Blog</h1>
            <div>
                <nav class"nav">
                    <a href="/">HOME |</a>
                    <a href="/dashboard">DASHBOARD |</a>
                    {{#if loggedIn}}
                    <a href="/" id="logout">LOGOUT</a>
                    {{else}}
                    <a href="/login">LOGIN</a>
                    {{/if}}
                </nav>
            </div>

        </header>

        <main>
            {{{ body }}}
        </main>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}

</body>

<footer>
    Ida Krause | 2020
</footer>

</html>