{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    {{#each posts as |post|}}
    {{> dashboard-post post}}
    {{/each}}

{{/if}}

<button type="submit" class="btn"><a href="/dashboard/new">Add New Post</a></button>
</section>

<script src="/javascript/add-post.js"></script>